<div class="col-md-4 col-md-offset-4" ng-show="view.showform">
  <form novalidate ng-submit="addPost()">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="author">Author:</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="image">Image URL:</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" class="form-control">
    </div>         
  </form>
</div>